<!--起始主页-->
<!DOCTYPE html>
<html>
  <head>
      <title>Q站:)可爱的小站</title>
      <meta name="description" content="Q站，二次元之家" />
      <meta name="keywords" content="二次元,番剧，漫画，动漫，视频，新闻" />

      <script type="text/javascript" src="/javascripts/lib/jquery-2.1.4.js"></script>
      <link rel="stylesheet" href="/stylesheets/lib/bootstrap.css">
      <link rel='stylesheet' href='/stylesheets/index.css' />
      <link rel="stylesheet" href="/stylesheets/common.css">
      <script type="text/javascript" src="/javascripts/lib/bootstrap.js"></script>
      <script type="text/javascript" src="/javascripts/index.js"></script>
      <script type="text/javascript" src="/javascripts/header.js"></script>

  </head>
  <body>
  <div id="backgroundImg" class="opacityHalf blur"></div>
  <%- include header%>
  <!--内容导航-->
  <div class="container opacityAlmost" id="navContent">
      <div class="row">
          <div class="col-md-2">
              <div class="icon col-md-12">
                  <img src="/images/icon/nico.jpg" class="iconBorder" id="iconPopover" data-container="body"
                       data-toggle="popover" data-original-title="Qwaii" data-trigger="click"
                       data-placement="bottom" data-content="Q站是个人开发的兴趣小站...">
              </div>
          </div>
          <div class="col-md-10 navBorder opacityAlmost">
              <div class="col-md-2 contentNav">番剧</div>
              <div class="col-md-2 contentNav">视频</div>
              <div class="col-md-2 contentNav">Cosplay</div>
              <div class="col-md-2 contentNav">新闻</div>
              <div class="col-md-2 contentNav">音乐</div>
              <div class="col-md-2 contentNav">萌物</div>
              <div class="col-md-2 contentNav">漫画</div>
              <div class="col-md-2 contentNav">其它</div>
          </div>
      </div>
  </div>
<!--热点导航-->
  <div class="container" id="hotView">
      <div class="row">
          <div class="col-md-6">
              <div data-ride="carousel" class="carousel slide" id="carousel-container">
                  <!--图片容器-->
                  <div class="carousel-inner">
                      <div class="item"><img src="/images/icon/hot.jpg" class=""></div>
                      <div class="item active"><img src="/images/icon/hot2.jpg" class=""></div>
                      <div class="item"><img src="/images/icon/hot3.jpg" class=""></div>
                  </div>
                  <!--圆圈指示符-->
                  <ol class="carousel-indicators">
                      <li data-slide-to="0" data-target="#carousel-container"></li>
                      <li data-slide-to="1" data-target="#carousel-container" class="active"></li>
                      <li data-slide-to="2" data-target="#carousel-container"></li>
                  </ol>
                  <!--左右控制按钮-->
                  <a data-slide="prev" href="#carousel-container" class="left carousel-control">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a data-slide="next" href="#carousel-container" class="right carousel-control">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
              </div>
          </div>
          <div class="col-md-6">
                  <div class="navTabsBorder">
                      <ul class="nav nav-tabs">
                          <li ><a href="#hotPicture" data-toggle="tab">热图</a></li>
                          <li class="active"><a href="#hotArticle" data-toggle="tab">热文</a></li>
                          <li><a href="#hotVideo" data-toggle="tab">热番</a></li>
                      </ul>
                      <div class="tab-content hotTitle">
                          <div class="tab-pane fade" id="hotPicture">
                              <div class="col-md-12"><p class="popuItem">热图1</p></div>
                              <div class="col-md-12"><p class="popuItem">热图2</p></div>
                              <div class="col-md-12"><p class="popuItem">热图3</p></div>
                          </div>
                          <div class="tab-pane fade in active" id="hotArticle">
                              <div class="col-md-12"><p class="popuItem">热文1</p></div>
                              <div class="col-md-12"><p class="popuItem">热文2</p></div>
                              <div class="col-md-12"><p class="popuItem">热文3</p></div>
                          </div>
                          <div class="tab-pane fade" id="hotVideo">
                              <div class="col-md-12"><p class="popuItem">热番1</p></div>
                              <div class="col-md-12"><p class="popuItem">热番2</p></div>
                              <div class="col-md-12"><p class="popuItem">热番3</p></div>
                          </div>
                      </div>
                  </div>
          </div>
      </div>
  </div>
  <!--贴文列表-->
  <div id="articleList">

  </div>

<!--分页导航-->
  <div class="container" >
      <ul class="pagination" id="pageNav">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">首页</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">6</a></li>
          <li><a href="#">7</a></li>
          <li><a href="#">8</a></li>
          <li><a href="#">9</a></li>
          <li><a href="#">10</a></li>
          <li><a href="#">末页</a></li>
          <li><a href="#">&raquo;</a></li>
      </ul>
  </div>

  <!--返回顶部按钮-->
  <%- include pageAnchor%>
  <!--底部导航-->
  <%- include footer%>
  </body>
<%- include modalWindow%>
</html>
