<!--起始主页-->
<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-COMPATIBLE" content="IE=Edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--viewport宽度变成ideal viewport的宽度-->
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <title>Q站:)可爱的小站</title>
      <meta name="description" content="Qwaii，二次元之家" />
      <meta name="keywords" content="二次元,番剧，漫画，动漫，视频，新闻, Qwaii" />

      <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css">
      <link rel='stylesheet' href='/stylesheets/index.css' />
      <!--<link rel="stylesheet" href="/stylesheets/common.css">-->
      <script data-main="/javascripts/config/indexConfig.js" src="/javascripts/lib/require.js"></script>

  </head>
  <body>
  <!--class的优先级低于ID低于内联-->
  <%- include header%>

  <div id="backgroundImg" class="background-img"></div>

  <div class="container">
      <!--小电视-->
      <div class="icon">
          <img src="/images/icon/nico.jpg" class="icon-border" id="iconPopover" data-container="body"
               data-toggle="popover" data-original-title="Qwaii" data-trigger="click"
               data-placement="bottom" data-content="Q站是个人开发的兴趣小站...">
      </div>
  </div>

  <!--内容导航-->
  <div class="nav-container">
      <div class="container" id="navContent">
          <div class="row">
              <div class="col-md-12 nav-border">
                  <div class="nav-content nav-content-width">全部</div>
                  <div class="nav-content nav-content-width">番剧</div>
                  <div class="nav-content nav-content-width">视频</div>
                  <div class="nav-content nav-content-width">音乐</div>
                  <div class="nav-content nav-content-width">图片</div>
                  <div class="nav-content nav-content-width">贴文</div>
                  <div class="nav-content nav-content-width">萌物</div>
                  <div class="nav-content nav-content-width">漫画</div>
                  <div class="nav-content nav-content-width">其它</div>
              </div>
          </div>
      </div>
  </div>

<!--热点导航-->
  <div class="container" id="hotView">
      <div class="row">
          <div class="col-md-6">
              <div data-ride="carousel" class="carousel slide" id="carousel-container">
                  <!--图片容器-->
                  <div class="carousel-inner">
                      <div class="item"><img src="/images/icon/hot.jpg" class="hot-image"></div>
                      <div class="item"><img src="/images/icon/hot2.jpg" class="hot-image"></div>
                      <div class="item active"><img src="/images/icon/hot3.jpg" class="hot-image"></div>
                  </div>
                  <!--圆圈指示符-->
                  <ol class="carousel-indicators">
                      <li data-slide-to="0" data-target="#carousel-container"></li>
                      <li data-slide-to="1" data-target="#carousel-container"></li>
                      <li data-slide-to="2" data-target="#carousel-container" class="active"></li>
                  </ol>
                  <!--左右控制按钮-->
                  <a data-slide="prev" href="#carousel-container" class="left carousel-control">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a data-slide="next" href="#carousel-container" class="right carousel-control">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
              </div>
          </div>
          <div class="col-md-6">
                  <div class="nav-tabs-border">
                      <ul class="nav nav-tabs">
                          <li ><a href="#hotPicture" data-toggle="tab"><span id="hotPictureSpan" class="glyphicon glyphicon-fire">图片</span></a></li>
                          <li class="active"><a href="#hotArticle" data-toggle="tab"><span id="hotArticleSpan" class="glyphicon glyphicon-fire">贴文</span></a></li>
                          <li><a href="#hotVideo" data-toggle="tab"><span id="hotVideoSpan" class="glyphicon glyphicon-fire">视频</span></a></li>
                      </ul>
                      <div class="tab-content hot-title">
                          <div class="tab-pane fade" id="hotPicture">
                          </div>
                          <div class="tab-pane fade in active" id="hotArticle">
                          </div>
                          <div class="tab-pane fade" id="hotVideo">
                          </div>
                      </div>
                  </div>
          </div>
      </div>
  </div>

  <div class="container total">
      <div class="row">
          <div class="col-md-8" id="articleList">
              <!--贴文列表-->
          </div>
          <div class="col-md-4">
              <div class="col-md-12 hot-tag-div">
                  <div class="col-md-4 col-md-offset-8 hot-tag-title">热门标签</div>
                  <div class="hot-tag">热门</div>
                  <div class="hot-tag">热门</div>
                  <div class="hot-tag">热门</div>
                  <div class="hot-tag">热门的的</div>
                  <div class="hot-tag">热门的的</div>
                  <div class="hot-tag">热门的的</div>
                  <div class="hot-tag">热门的的</div>
              </div>

              <div class="friend-link-div col-md-12">
                  <div class="col-md-4 col-md-offset-8 friend-link">友情链接</div>
                  <div class="col-md-12">
                      <a class="friend-link-a" href="http://www.missevan.com"><img class="border" src="/images/links/missevan.png"></a>
                      <a class="friend-link-a" href="http://www.17173.com/"><img class="border" src="/images/links/171737.png"></a>
                      <a class="friend-link-a href="http://www.buka.cn/"><img class="border" src="/images/links/buka.png"></a>
                      <a class="friend-link-a href="http://www.acgcp.com/"><img class="border" src="/images/links/mencg.png"></a>
                      <a class="friend-link-a" href="http://www.qingman.cc/"><img class="border" src="/images/links/qingmanhua.png"></a>
                      <a class="friend-link-a" href="http://comic.sina.com.cn/"><img class="border" src="/images/links/sina.png"></a>
                      <a class="friend-link-a href="http://comic.qq.com/"><img class="border" src="/images/links/tencent.png"></a>
                      <a class="friend-link-a" href="http://www.bilibili.com/"><img class="border" src="/images/links/bilibili.jpg"></a>
                      <a class="friend-link-a" href="http://acg.gamersky.com/"><img class="border" src="/images/links/youmin.jpg"></a>
                      <a class="friend-link-a" href="http://www.hexieshe.com/"><img class="border" src="/images/links/hexie.jpg"></a>
                  </div>

              </div>
          </div>
      </div>
  </div>

<!--分页导航-->
  <div class="container" >
      <ul class="pagination" id="pageNav">
          <li><a id="first">首页</a></li>
          <li class="page-number"><a>1</a></li>
          <li class="page-number"><a>2</a></li>
          <li class="page-number"><a>3</a></li>
          <li class="page-number"><a>4</a></li>
          <li class="page-number"><a>5</a></li>
          <li class="page-number"><a>6</a></li>
          <li class="page-number"><a>7</a></li>
          <li class="page-number"><a>8</a></li>
          <li class="page-number"><a>9</a></li>
          <li class="page-number"><a>10</a></li>
          <li><a id="last">&laquo;</a></li>
          <li><a id="next">&raquo;</a></li>
      </ul>
  </div>
  <!--返回顶部按钮-->
  <%- include pageAnchor%>
  <!--底部导航-->
  <%- include footer%>
  </body>
<%- include modalWindow%>
</html>
