<!--起始主页-->
<!DOCTYPE html>
<html>
  <head>
      <title>Q站:)可爱的小站</title>
      <meta name="description" content="Q站，二次元之家" />
      <meta name="keywords" content="二次元,番剧，漫画，动漫，视频，新闻" />

      <script type="text/javascript" src="/javascripts/lib/jquery-2.1.4.js"></script>
      <link rel="stylesheet" href="/stylesheets/lib/bootstrap.css">
      <link rel='stylesheet' href='/stylesheets/index.css' />
      <link rel="stylesheet" href="/stylesheets/common.css">
      <script type="text/javascript" src="/javascripts/lib/bootstrap.js"></script>
      <script type="text/javascript" src="/javascripts/index.js"></script>
      <script type="text/javascript" src="/javascripts/header.js"></script>

  </head>
  <body>
  <div id="backgroundImg" class="opacityHalf blur"></div>
  <%- include header%>
  <!--内容导航-->
  <div class="container opacityAlmost" id="navContent">
      <div class="row">
          <div class="col-md-2">
              <div class="icon col-md-12"><img src="/images/icon/nico.jpg" class="iconBorder" title="Q站 -> Qwaii"></div>
          </div>
          <div class="col-md-10 navBorder opacityAlmost">
              <div class="col-md-2 contentNav">番剧</div>
              <div class="col-md-2 contentNav">视频</div>
              <div class="col-md-2 contentNav">Cosplay</div>
              <div class="col-md-2 contentNav">新闻</div>
              <div class="col-md-2 contentNav">音乐</div>
              <div class="col-md-2 contentNav">萌物</div>
              <div class="col-md-2 contentNav">漫画</div>
              <div class="col-md-2 contentNav">其它</div>
          </div>
      </div>
  </div>
<!--热点导航-->
  <div class="container opacityAlmost" id="hotView">
      <div class="row">
          <div class="col-md-6">
              <div class="hotContent"><img src="/images/icon/hot.jpg" class=""></div>
          </div>
          <div class="col-md-5 col-md-offset-1">
              <div class="col-md-12">
                  <ul class="nav nav-tabs">
                      <li ><a href="#">热图</a></li>
                      <li class="active"><a href="#">热文</a></li>
                      <li><a href="#">热番</a></li>
                  </ul>
              </div>
              <div class="col-md-12">
                  <div class="hotTitle"></div>
              </div>
          </div>
      </div>
  </div>
  <!--贴文列表-->
  <div id="articleList">

  </div>

<!--分页导航-->
  <div class="container" >
      <ul class="pagination" id="pageNav">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">首页</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">6</a></li>
          <li><a href="#">7</a></li>
          <li><a href="#">8</a></li>
          <li><a href="#">9</a></li>
          <li><a href="#">10</a></li>
          <li><a href="#">末页</a></li>
          <li><a href="#">&raquo;</a></li>
      </ul>
  </div>

  <!--返回顶部按钮-->
  <%- include pageAnchor%>
  <!--底部导航-->
  <%- include footer%>
  </body>
<%- include modalWindow%>
</html>
