<!--返回顶部按钮-->
<div class="page-anchor btn-toolbar">
    <div class="btn-group">
        <a id="top" class="btn btn-default"><span class="glyphicon glyphicon-menu-up"></span></a>
    </div>
    <div class="btn-group">
        <a id="bottom" class="btn btn-default"><span class="glyphicon glyphicon-menu-down"></span></a>
    </div>
</div>