body {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    min-height:100%;
    background-color: #F3F0EB;
}
html {
    height:100%;
    font-size: 16px;
}

a {
    color: #00B7FF;
}

header {
    margin: auto;
}

/*小电视*/
.icon {
    position: relative;
    margin-top: -3rem;
}

.icon-border {
    -webkit-box-shadow:0 0 20px #0CC;
    -moz-box-shadow:0 0 20px #0CC;
    box-shadow:0 0 20px #0CC;
    transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;
    -moz-transition:All 0.4s ease-in-out;
    -o-transition:All 0.4s ease-in-out
}
.icon-border:hover {
    -webkit-box-shadow:0 0 20px #c75183;
    -moz-box-shadow:0 0 20px #c75183;
    box-shadow:0 0 20px #c75183;
    -moz-transition: box-shadow 0.3s linear;
    -webkit-transition: box-shadow 0.3s linear;
    transition: box-shadow 0.3s linear;
    transform:translate(0,-10px);
    -webkit-transform:translate(0,-10px);
    -moz-transform:translate(0,-10px);
    -o-transform:translate(0,-10px);
    -ms-transform:translate(0,-10px);
}

/*内容导航*/
.nav-border {
    margin-top: 1rem;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 0;
}
.item > img {
    transition:All 0.5s ease-in-out;
    -webkit-transition:All 0.5s ease-in-out;
    -moz-transition:All 0.5s ease-in-out;
    -o-transition:All 0.5s ease-in-out;
}
.item > img:hover {
    transform:scale(1.4);
    -webkit-transform:scale(1.4);
    -moz-transform:scale(1.4);
    -o-transform:scale(1.4);
    -ms-transform:scale(1.4);
}

/* 内容导航条边框 */
.nav-container {
    -webkit-box-shadow:0 4px 8px #cc507f;
    -moz-box-shadow:0 4px 8px #cc507f;
    box-shadow:0 4px 8px #cc507f;
    background-color: rgba(255,255,255,0.9);
}

/*内容导航条目*/
.nav-content {
    display: inline-block;
    width: 10%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-size: 1.3rem;
    text-align: center;
    font-family: 宋体;
    color: rgba(0, 0, 0, 0.74);
    font-weight: bold;
    margin-bottom: 0.5em;

    transition:All 0.3s ease-in-out;
    -webkit-transition:All 0.3s ease-in-out;
    -moz-transition:All 0.3s ease-in-out;
    -o-transition:All 0.3s ease-in-out;
}

.nav-content:active, .nav-content:hover {
    /*color: #590502;*/
    color: white;
    text-shadow: 0 0 10px #e10b0c;
    transition: text-shadow .3s linear;
    border-radius: 1em;
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
}

/*注意图片是内联元素*/
.icon > img {
    display: block;
    width: auto;
    height: 5em;
    max-width: 5em;
    max-height: 5em;
    margin-bottom: 1em;
}

/*热门推荐区域*/
#hotArticleSpan,
#hotPictureSpan,
#hotVideoSpan {
    color: #c0291f;
    font-size: 1.2em;
}
#hotView {
    margin-top: 2em;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
}
.hot-title {
    width: 100%;
    height: 15em;
    overflow-y: scroll;
    border-top: 0em;
}

.hot-content {
    width: 100%;
    height: 100%;
    padding: 1em;
}
.nav-tabs-border {
    margin-top: 1em;
    height: auto;
    background-color: rgba(225,235,253,0.75);
}

/*文章元素块*/
.article-view {
    margin-top: 2em;
    border-top: solid 3px;
    border-bottom: solid 3px;
    border-left: groove 1px;
    border-right: groove 1px;
    background-color: rgba(255,255,255,1);
    -webkit-box-shadow:0 0 8px black;
    -moz-box-shadow:0 0 8px black;
    box-shadow:0 0 8px black;
}
.article-border {
    background-color: #b5dccc;
    width: auto;
    height: auto;
}
.tag {
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 0.5em;
    padding: 0.1em;
    color: #238eae;
    border: solid 1px #238eae;
    display: inline-block;
    margin-right: 0.5em;
}
.popu-item {
    font-size: 1em;
    text-align: left;
    border-bottom: dotted 1px #a6a6a6;
    font-family: 微软雅黑;
    width: 100%;
    margin: 0.5em;
}
.article-title {
    border-bottom: solid 1px #d2d2d2;
    font-size: 1.3em;
    margin: 0.3em;
}
.article-time,
.article-author {
    color: #868686;
    margin-bottom: 0.2em;
}
.article-abstract {
    margin-bottom: 0.5em;
    background-color: #e1ebfd;
    padding: 0.3em;
    color: #395980
}
.article-read {
    background-color: #353846;
    color: whitesmoke;
    text-align: center;
    -webkit-box-shadow:0 0 8px black;
    -moz-box-shadow:0 0 8px black;
    box-shadow:0 0 8px black;
}

.read-number, .comment-number {
    width: 50%;
    float: left;
    background-color: #353846;
}

/*顶部背景图设置*/
.background-img {
    display: block;
    width: 100%;
    min-height: 7em;
    height: auto;
    background: url("/images/pictures/Qwaii.png") no-repeat;
    background-size: cover;
    background-position: center;
}
/*热门标签*/
.hot-tag-div,
.friend-link-div {
    margin-top: 2em;
    margin-bottom: 2em;
    min-height: 13em;
    height: auto;
    border-bottom: solid 2px #661611;
    border-top: solid 2px #661611;
    background-color: white;
    -moz-box-shadow: 0px 0px 8px #661611;
    -o-box-shadow: 0px 0px 8px #661611;
    -webkit-box-shadow: 0px 0px 8px #661611;
    box-shadow:0px 0px 8px #661611;
}
.hot-tag {
    display: inline-block;
    margin: 0.2em;
    color: #661611;
    font-family: 华文中宋;
    transition:All 0.3s ease-in-out;
    -webkit-transition:All 0.3s ease-in-out;
    -moz-transition:All 0.3s ease-in-out;
    -o-transition:All 0.3s ease-in-out;
}
.hot-tag-title,
.friend-link {
    margin-bottom: 0.5em;
    text-align: center;
    background-color: #767676;
    color: whitesmoke;
    font-weight: bold;
    padding: 0.2em;
}
.hot-tag:hover {
    color: #661611;
    font-weight: bold;
    transform: scale(1.7);
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -o-transform: scale(1.7);
    -ms-transform: scale(1.7);
}
.friend-link-a {
}
.friend-link-a > img {
    width: 5em;
    height: 1.7em;
    margin: 0.2em;
    -moz-box-shadow: 0px 0px 8px #395980;
    -o-box-shadow: 0px 0px 8px #395980;
    -webkit-box-shadow: 0px 0px 8px #395980;
    box-shadow: 0px 0px 8px #395980;
}


/*文章区域总布局*/
.total {
    /*background-color: rgba(57, 89, 128, 0.32);*/
    /*background-color: rgba(88, 138, 198, 0.5);*/
    background-color: white;
    margin-top: 2rem;
    padding-bottom: 1em;
}

/*回到顶部或底部锚点*/
.page-anchor {
    position: fixed;
    right: 1em;
    bottom: 2em;
    z-index: 100;
    opacity: 0.7;
}

/*footer叠加层*/
.footer-div {
    background-color: rgb(42,42,42);
    border-top: solid 2px #a20812;
}


/*版权标识*/
.copyright {
    color: #FFFFFF;
    text-align: center;
    font-size: 1em;
    background-color: rgba(88, 138, 198, 0.43);
    margin-top: 1em;
    box-shadow: 0px 0px 5px #661611 inset;
}

/*自定义导航栏去除底部空白*/
#headerNav {
    margin-bottom: 0;
}

.copyright a {
    color: #FFFFFF;
}

/*弹出框文字格式*/
.tips {
    font-family: 微软雅黑;
    font-size: 1.3em;
    word-spacing: 8px;
    letter-spacing: 1px;
}

/*字符间距*/
.spacing {
    word-spacing: 8px;
    letter-spacing: 1px;
}

/* 媒体查询 */
@media screen and (max-width: 768px) {
    .icon > img {
        display: block;
        margin: 0 auto;
        width: auto;
        height: 5em;
        max-width: 5em;
        max-height: 5em;
        margin-bottom: 1em;
    }

    .nav-content-width {
        width: 20%;
    }
}