body {
    font : 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    min-height : 100%;
}
.login-icon {
    background-color : #e1ebfd;
    border : solid 1px white;
}

.login-icon:hover {
    -webkit-box-shadow : 0 0 10px #c75183 inset;
    -moz-box-shadow : 0 0 10px #c75183 inset;
    box-shadow : 0 0 10px #c75183 inset;

    -moz-transition : box-shadow 0.3s linear;
    -webkit-transition : box-shadow 0.3s linear;
    transition : box-shadow 0.3s linear;
}

.total {
    border : solid 1px blue;
    min-width : 850px;
    background-color : rgba(244,244,244,0.9);
    -webkit-box-shadow : 0 0 10px black;
    -moz-box-shadow : 0 0 10px black;
    box-shadow : 0 0 10px black;
}

.choose-div {
    width : 800px;
    margin : auto;
    border : solid 1px #868686;
    display : block;
    height : 4em;
    line-height : 4em;
}

.login-choose,
.signup-choose {
    width : 50%;
    text-align : center;
    float : left;
    font-size : 2em;
    font-family : 华文彩云;
    display : block;
}

.login-choose:hover,
.signup-choose:hover {
    font-size : 2.5em;
    background-color : #e1ebfd;
    transition : background-color .2s linear;
}

.login-div {
    width : 800px;
    height : 450px;
    display : block;
    margin : auto;
}

.icon-div {
    width : 400px;
    height : 400px;
    float : left;
}

.icon-div > div {
    width : 20%;
    height : 20%;
    float : left;
}

.icon-div > div > img {
    padding : 5px;
    width : 100%;
}
.input-div {
    width : 400px;
    float : left;
    height : 400px;
    padding : 2em;
}

.background-img {
    position : fixed; right: 0; bottom: 0;
    min-width : 100%; min-height: 100%;
    width : auto;
    height : auto;
    z-index : -100;
    background : url("/images/pictures/liya.jpg") no-repeat;
    background-size : cover;
    filter : alpha(opacity=50);
    -moz-opacity : 0.50;
    -khtml-opacity : 0.50;
    opacity : 0.50;
}
